body {
  background: #191765;
  font-family: 'Roboto', serif;
  font-style: normal;
  align-items: center;
}

.toolbar {
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  display: flex;
  height: 48px;
}

a {
  text-decoration: none;
  color: #fff;
}

h4 {
  width: 81px;
  height: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  align-items: flex-start;
}

.bi {
  display: flex;
  width: 66px;
  height: 36px;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  align-items: flex-end;
}

.one {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: 1px;
  background: #edecff;
  filter: blur(50px);
  display: flex;
}

.two {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 339px;
  top: 495px;
  background: #edecff;
  filter: blur(50px);
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-height: 154px;
}

h1 {
  width: 327px;
  height: 55px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

h3 {
  width: 327px;
  height: 87px;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #edecff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-height: 738.15px;
  flex-wrap: wrap;
}

.desc {
  width: 327px;
  height: 170px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  display: flex;
  margin-top: -5px;
}

.line1 {
  position: absolute;
  top: 555px;
  border: 1px solid #646369;
  width: 327px;
  display: block;
  align-items: center;
}

.edu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  width: 303px;
  height: 462.15px;
  flex-wrap: wrap;
}

.title {
  width: 107px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  clear: none;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 123px;
  height: 167.33px;
  line-height: 1.5em;
}

.fw {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 156px;
  height: 214.15px;
  line-height: 1.5em;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 122px;
  height: 224px;
  line-height: 1.5em;
}

p {
  color: #fff;
}

.icons1 {
  align-items: center;
  width: 18px;
  height: 20px;
  display: flex;
}

.icons {
  align-items: center;
  width: 18px;
  height: 20px;
  display: flex;
}

.icons2 {
  align-items: center;
  width: 14px;
  height: 20px;
  display: flex;
}

.icons3 {
  align-items: center;
  width: 20px;
  height: 20px;
  display: flex;
}

.icons4 {
  align-items: center;
  width: 16px;
  height: 20px;
  display: flex;
}

.line2 {
  position: absolute;
  top: 1050px;
  border: 1px solid #646369;
  width: 327px;
  display: block;
  align-items: center;
}

.sm-icons {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 200px;
  height: 40px;
  justify-content: space-between;
}

.sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 200px;
  height: 104px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.work {
  font-size: 20px;
  line-height: 32px;
  line-height: 137%;
  text-align: center;
  align-content: center;
  vertical-align: top;
  color: #a2a3ae;
  display: flex;
  width: 77px;
  height: 40px;
}
