body {
  background: #191765;
  font-family: "Roboto", serif;
  font-style: normal;
  align-items: center;
  align-content: center;
  min-width: 350px;
  align-items: center;
}

@media screen and (max-width: 760px) {

.pages {
  display: none;
}

.page {
  display: none;
}

.work2 {
  display: none;
}

.cont1 {
  display: none;
}
}

.toolbar {
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  display: flex;
  height: 48px;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 81px;
  height: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  letter-spacing: 0.03em;
  color: #fff;
  border-radius: 5px;
  align-items: flex-start;
}

.bi {
  display: flex;
  width: 36px;
  height: 23px;
  border-radius: 1px;
  color: white;
  padding-top: 25px;
  align-items: flex-end;
  font-size: 35px;
  text-align: center;
}

.one {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  top: 100px;
  background: #edecff;
  filter: blur(40px);
  display: flex;
  z-index: -1;
}

.two {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 340px;
  top: 600px;
  background: #edecff;
  filter: blur(50px);
  display: flex;
  z-index: -1;
}

.four {
  position: absolute;
  width: 70.28px;
  height: 261.6px;
  left: -147.27px;
  top: 2437.23px;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  z-index: -1;
}

.five {
  position: absolute;
  width: 308px;
  height: 155px;
  left: -93px;
  top: 3274px;
  background: rgba(237, 236, 255, 0.3);
  filter: blur(50px);
  z-index: -1;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-height: 154px;
  margin: auto;
}

h1 {
  width: 327px;
  height: 55px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

h3 {
  width: 327px;
  height: 87px;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  color: #edecff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-height: 738.15px;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
}

.desc {
  width: 327px;
  height: 170px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  display: flex;
  margin-top: -5px;
}

.line1 {
  position: absolute;
  top: 565px;
  border: 1px solid #646369;
  width: 327px;
  display: block;
  align-items: center;
}

.line2 {
  position: absolute;
  top: 1100px;
  border: 1px solid #646369;
  width: 327px;
  display: block;
  align-items: center;
}

.edu {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  width: 400px;
  height: 400.15px;
  flex-wrap: wrap;
  color: #191765;
  flex-direction: row;
}

.title {
  width: 107px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  clear: none;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 123px;
  height: 167.33px;
  line-height: 1.5em;
  align-items: flex-start;
}

.fw {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 156px;
  height: 200.15px;
  line-height: 1.5em;
  align-items: flex-start;
  text-align: right;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 122px;
  height: 224px;
  line-height: 1.5em;
  align-items: flex-start;
}

li {
  list-style: none;
  color: #fff;
}

.icons1 {
  align-items: center;
  width: 20px;
  height: 22px;
  display: flex;
}

.icons {
  align-items: center;
  width: 18px;
  height: 20px;
  display: flex;
}

.icons2 {
  align-items: center;
  width: 14px;
  height: 17px;
  display: flex;
}

.icons3 {
  align-items: center;
  width: 20px;
  height: 17px;
  display: flex;
}

.icons4 {
  align-items: center;
  width: 16px;
  height: 16px;
  display: flex;
}

.sm-icons {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 200px;
  height: 104px;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  padding-right: 50px;
}

.work {
  font-size: 20px;
  line-height: 32px;
  line-height: 137%;
  text-align: center;
  align-content: center;
  vertical-align: top;
  color: #a2a3ae;
  display: flex;
  width: 77px;
  height: 40px;
  padding-left: 35px;
}

.works {
  align-items: center;
}

.three {
  position: absolute;
  width: 39.61px;
  height: 482.57px;
  left: -90.04px;
  top: 1624.71px;
  background: #edecff;
  filter: blur(40px);
  transform: rotate(-36.38deg);
}

.wrk {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 24px;
  width: 375px;
  height: 145px;
  margin: auto;
}

.work-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  margin: auto;
  width: 300px;
  height: 104px;
}

.line3 {
  position: absolute;
  top: 1280px;
  border: 1px solid #646369;
  width: 327px;
  display: block;
  align-items: center;
}

.mps-grid {
  display: grid;
  gap: 24px;
  width: 327px;
  height: 730px;
  grid-template-rows: 236px 469px;
  margin: auto;
  padding-bottom: 40px;
  align-items: center;
}

.story-img {
  grid-row: 1;
  width: 327px;
  height: 236px;
  background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
}

.img-text {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
  height: 469px;
  align-self: center;
}

.mps-title {
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: #fff;
}

.mps {
  width: 327px;
  height: 204px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

.tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
  gap: 8px;
  width: 300px;
  height: 40px;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 30px;
}

.tag {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 7px 7px 7px 7px;
}

.div {
  height: 40px;
  border: 1px solid #555;
  align-items: center;
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background-color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #edecff;
}

.btn:hover {
  background-color: #b0aee6;
}

.contact {
  align-items: center;
  margin: auto;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.cont-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 164px;
}

.cont {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
  height: 35px;
}

.cont-a {
  width: 327px;
  height: 105px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  vertical-align: top;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 327px;
  height: 292px;
  margin-top: 100px;
}

#textn {
  width: 327px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #81818c;
}

#email {
  width: 327px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #191765;
}

#add {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
}

.em {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}
@media only screen and ( min-width: 768px) {
  .toolbar {
    height: 72px;
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .bi-list {
    display: none;
  }

  .cont {
    display: none;
  }

  .pages {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 120px;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 72px;
    width: auto;
  }

  .page {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 5px 25px 5px 5px;
    font-weight: 400;
  }

  .bi-envelope {
    padding: 0 15px 0 10px;
    font-size: 23px;
  }

  .logo {
    left: 62px;
    font-size: 18px;
    margin-left: 90px;
    padding: 0 5px 5px 5px;
  }

  .one {
    position: absolute;
    width: 160px;
    height: 187px;
    left: 69px;
    top: 240px;
    background: #edecff;
    filter: blur(40px);
    z-index: -1;
  }
  
  .two {
    position: absolute;
    width: 328px;
    height: 228px;
    left: 1140px;
    top: 600px;
    background: #edecff;
    filter: blur(20px);
  }

  .three {
    position: absolute;
    height: 700.9px;
    width: 57.5px;
    left: -132px;
    top: 1479.1px;
    border-radius: 0;
    background: #edecff;
    filter: blur(20px);
    transform: rotate(-36.38deg);
  }
  
  .four {
    position: absolute;
    width: 70.28px;
    height: 261.6px;
    left: -147.27px;
    top: 2437.23px;
    background: #edecff;
    filter: blur(20px);
    transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  }

  .six {
    height: 916.3px;
    width: 246.1px;
    left: 1090.2px;
    top: 2934px;
    border-radius: 0;
    position: absolute;
    background: #edecff;
    filter: blur(50px);
    transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
    width: 75%;
  }

  .about {
    margin-bottom: 35px;
  }

  .heading > h1 {
    height: 96px;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #7d73fc;
    align-items: center;
    width: auto;
    display: flex;
  }

  .heading > h3 {
    height: 87px;
    font-weight: 500;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: #edecff;
    width: auto;
    top: 150px;
    display: flex;
    margin-top: -150px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-height: 738.15px;
    align-content: center;
  }

  .desc {
    width: 448px;
    height: 170px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
    display: flex;
    margin-top: -5px;
  }

  .line1 {
    position: absolute;
    top: 555px;
    border: 1px solid #646369;
    width: 500px;
    display: block;
    align-items: center;
  }

  .line2 {
    display: none;
  }

  .line3 {
    position: absolute;
    top: 1250px;
    border: 1px solid #646369;
    width: 900px;
    display: block;
    align-items: center;
  }

  .edu {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 550px;
    margin-bottom: 0;
    color: #191765;
    flex-direction: row;
    height: 250px;
  }

  .title {
    width: 107px;
    height: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #9490ff;
    clear: none;
  }

  .lang {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 123px;
    height: 167.33px;
    line-height: 1.5em;
  }
  
  .fw {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 156px;
    height: 215.15px;
    line-height: 1.5em;
  }
  
  .skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 122px;
    height: 220px;
    line-height: 1.5em;
  }

  .sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 800px;
    height: 50px;
    text-align: center;
    justify-content: space-between;
    margin-top: -210px;
  }

  .work {
    font-size: 20px;
    line-height: 32px;
    line-height: 137%;
    text-align: center;
    align-content: center;
    vertical-align: top;
    color: #a2a3ae;
    display: flex;
    width: 77px;
    height: 40px;
    order: 1;
  }

  .sm-icons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .work2 {
    font-size: 20px;
    line-height: 32px;
    line-height: 137%;
    text-align: center;
    align-content: center;
    vertical-align: top;
    color: #a2a3ae;
    display: flex;
    width: 77px;
    height: 40px;
    order: 3;
  }

  .wrk {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    height: 145px;
    width: 75%;
  }

  .work {
    align-content: center;
  }

  .work-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
    display: flex;
    text-align: start;
    color: #9490ff;
    float: left;
    margin-left: 15px;
    margin-top: 95px;
  }

  .mps-grid {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-bottom: 0;
    margin-top: -20px;
    width: 85%;
    justify-content: center;
    align-items: center;
  }

  .story-img {
    width: 500px;
    background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
    border: solid black;
    height: 448px;
  }

  .img-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: stretch;
  }

  .mps-title {
    font-weight: 500;
    font-size: 32px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 35px;
    padding: 4px 0;
  }

  .tag-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    gap: 8px;
    width: 300px;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }

  .tag {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 2px 2px 2px 2px;
  }

  .btn {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 89px;
    background-color: #7d73fc;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #edecff;
  }

  .mps {
    width: 327px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #dcdce8;
  }

}